# Ignorar a pasta "node_modules"
node_modules/

# Ignorar arquivos de logs
logs/
*.log

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar configurações do VS Code e IntelliJ
.vscode/
.idea/

*Zone.Identifier
